*.jl.*.cov
*.jl.cov
*.jl.mem
/docs/build/
.vscode/settings.json
build
.interfaces.md
*.log
*.err
machines.txt
results
.includes_bu.jl
empty.jl
LocalPreferences.toml
temp.jl
interfaces.md
.blang-compilation
filtered.csv
nowellpack
tmp.jl
Manifest.toml
examples/.CondaPkg
*.swp
*.swo
*.hpp
*.so

examples/benchmarks
benchmarks
*.bu
