name: Update stored benchmarking result
on:
  push:
    paths:
      - 'Project.toml'
      - 'src/**'
      - 'ext/**'
    branches:
      - main  

jobs:
  update-benchmarks:
    runs-on: ubuntu-latest
    # runs-on: self-hosted
    timeout-minutes: 60	
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Julia
        uses: julia-actions/setup-julia@v2

      - name: Run benchmarking
        run: |
          julia bench/benchmark.jl > bench/benchmark.csv

      - name: Commit new benchmark results
        uses: stefanzweifel/git-auto-commit-action@v5

