name: Run benchmarking suite to compare PR to main
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    paths:
      - 'Project.toml'
      - 'src/**'
      - 'ext/**'
    branches:
      - 'main'


jobs:
  benchmark:
    runs-on: ubuntu-latest
    # runs-on: self-hosted
    timeout-minutes: 60	
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Julia
        uses: julia-actions/setup-julia@v2

      - name: Run benchmarking
        run: |
          julia bench/benchmark.jl > bench/benchmark_new.csv

      - name: Compare old/new results
        run: |
          julia bench/compare_benchmarks.jl > out.md

      - name: Post benchmark comparison to PR thread
        uses: mshick/add-pr-comment@v2.8.1
        with:
          message-path: out.md
